.login-cont{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

    .login-left{
        background-color: #008b8b;
        flex: 40%;
        padding: 30px;

        .header-logo-text{
            color: #fff;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
            height: 40px;
        }

        .left-logo{
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 100px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: darkslategray;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .info{
            margin: 50px 0 10px 0;

            .h5{
                color: orange;
                font-size: 20px;
                font-weight: bold;
            }

            p{
                color: #fff;
                font-size: 16px;
            }

            ul li{
                padding: 3px;
                color: #fff;
                font-size: 16px;
                list-style-type: circle;
            }
        }

        p{
            color: green;
            font-size: 22px;
        }
    }

    .login-right{
        background-color: #fff;
        flex: 60%;
        display: flex;
        align-items: center;
        padding: 0 50px;
        position: relative;

        .login-wrapper{
            width: 400px;

            .h6{
                padding: 10px 3px;
                font-size: 26px;
                color: darkcyan;
            }


            .input{
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 10px 0;
                padding: 5px 10px;
                border: 1px solid gray;
                border-radius: 25px;

                .input-icon{
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: darkcyan;
                    border-radius: 50%;
                    color: #fff;
                    font-size: 18px !important;
                }

                input{
                    font-size: 16px;
                    padding: 10px;
                    border: none;
                    
                    &:focus{
                        outline: none;
                    }
                }
            }

            .login-btn{
                width: 100%;
                color: #fff;
                background-color: darkcyan;
            }

            .forgot{
                padding: 10px 0;
                margin: 0 auto;
                text-align: center;
                cursor: pointer;
                font-size: 14px;
                color: green;

                &:hover{
                    text-decoration: underline;
                }
            }

        }

        .message-badge {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            background-color: darkcyan;
            cursor: pointer;
            transition: 0.5s ease all;
            z-index: 999;

            &:hover{
                background-color: green;
            }
        }

    }
}


@media (min-width: 768.5px){
    .login-left{
        flex: 100%;
        height: 50vh !important;
        padding-bottom: 0 !important;
        position: relative;

        .left-logo{
            width: 100% !important;
            height: 300px !important;
            padding: 0 !important;
            margin: 10px 0 !important;
            border-radius: unset !important;
            position: relative;

        }

        .info{
            margin-top: 10px!important;
            margin-bottom: 10px!important;
            // background-color: rgb(39, 104, 104);
            background-color: green;
            opacity: 0.5;
            padding: 20px 10px;
            position: absolute;
            top: 70px;
            width: calc(100% - 60px) !important;
            height: 300px !important;


            p{
                font-size: 20px !important;
                font-weight: bold !important;
            }
        }

        .p{
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
        }
    }

    .login-right{
        height: 45vh !important;
        justify-content: center;
        align-items: flex-start !important;
        margin-top: 10px;

        .login-wrapper{
            background-color: #fff;
            position: absolute;
        }

                .message-badge {
                    position: fixed !important;
                    bottom: 10px !important;
                    right: 10px !important;
                    width: 100px !important;
                    height: 100px !important;
        
                    .message-badge-icon {
                        font-size: 24px !important;
                    }
        
                }
    }
}


@media (max-width: 526.5px){

    .login-left{
        flex: 100% !important;
        height: 40vh !important;
    }

    .left-logo{
        width: 200px !important;
        height: 200px !important;
        margin: 0 !important;
        display: none !important;

        img{
            width: 100%;
            height: 100%;

        }
    }

    .info{
        margin-top: 10px !important;


        p{
            font-size: 14px !important;
        }
    }

    .login-right{
        height: 60vh !important;
        position: relative;

        .login-wrapper{
            margin: 30px 0!important;
             
            .h6{
                font-size: 20px !important;
            }
        }

        flex: 100%;
        padding: 0 !important;
        justify-content: center;
        margin-bottom: 50px !important;
    }
    .login-wrapper{
        width: 80% !important; 
    }

    ul{
        display: none;
    }

    .message-badge{
        bottom: 10px !important;
        right: 10px !important;
        margin-top: 20px;
    }

}