* {
  margin: 0;
  padding: 0;
}

:root {
  --lig-darkcyan: #9edada;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  height: 100px;
  border-radius: 10px;
}

.container {
  width: 100% !important;
}

body {
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
}

.shadow-sm,
.shadow-lg {
  background-color: #fff !important;
}

.cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sidebar-wrapper {
  height: 100vh;
  flex: 1;
  max-width: 200px;
  padding: 10px 0;
  background-color: darkcyan;
}

.main {
  flex: 5;
  /* width: calc(100% - 200px); */
  /* background-color: aqua; */
}

.sidebar {
  background-color: darkcyan;
  padding: 10px 20px;
  position: fixed;
  top: 60px;
  bottom: 0;
  width: 200px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  width: 90%;
  margin-bottom: 10px;
}

.logo-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.logo .h5 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.sidebar-menu {
  height: 65vh;
  overflow: auto;
}

.sidebar-item .h5 {
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 5px;
  color: #fff;
  width: 90%;
}

.sidebar-item ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-item ul li {
  padding: 0;
  margin: 0;
}

.sidebar-item ul li .link {
  display: flex;
  align-items: center;
  color: #ddd;
  text-decoration: none;
  padding: 5px 0;
  margin: 5px 0;
}

.sidebar-item ul li .link:hover {
  background-color: #fff;
  color: darkcyan;
  border-radius: 10px;
  width: 90%;
}

.active {
  background-color: #fff;
  color: darkcyan !important;
  border-radius: 10px;
  width: 90%;
}

.sidebar-item ul li .link .link-icon:hover {
  color: darkcyan !important;
}

.sidebar-item ul li .link .h6 {
  margin: auto 0;
}

.link-icon {
  color: #ddd;
  margin-right: 10px;
}

.logout-btn {
  display: flex;
  background-color: #fff;
  width: 150px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.logout-btn .link-icon {
  color: darkcyan;
}

@media (max-width: 768.5px) {
  .logo {
    margin: 20px 0;
  }
}

/* Top Header */
.top-header {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  z-index: 1;
  margin-bottom: 30px;
  width: 100%;
}
.topheader-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu-icon {
  display: none;
}

.menu-close-icon {
  display: none;
}

.topheader-wrapper .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-header-icons {
  display: flex;
}

.top-icon {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkcyan;
  margin-right: 10px;
  cursor: pointer;
}

.notification {
  position: relative;
}

.notification-badge {
  position: absolute;
  top: -10px;
  right: -5px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.profile {
  display: flex;
}

.profile-text {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-text .h6 {
  margin: auto 0;
}

.profile-text .h6 .first_name {
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.profile-text .member-role {
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  padding: auto 0;
  cursor: pointer;
  background-color: #9edada;
  width: 80px;
  height: 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-text .official {
  background-color: orange;
}

.profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
/* Top Header */

/* Main */
.main-cont {
  margin-top: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 80vh;
  position: relative;
}

.widget-small {
  padding: 3px 10px;
  gap: 10px;
  align-items: center;
}

.widget-small-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  color: darkcyan;
  margin-bottom: 20px;
}

.widget-small-icon .h6,
.widget-small-text .h4 {
  margin: auto 0;
  color: darkcyan;
}

.widget-small-text {
  display: flex;
  gap: 10px;
  align-items: center;
}

.widget-small-text .h4 {
  font-size: 24px;
}

.widget-small p,
.widget-small-text span {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: gray;
}

.widget-small-text p {
  margin: 0;
  padding: 0;
}

.user-card {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: darkcyan;
  color: #fff;
}

.user-card .h6 {
  font-family: "Courier New", Courier, monospace;
  color: gray;
  font-weight: bold;
  margin-top: 10px;
}

.small-progress-bar {
  width: 80px !important;
  height: 80px !important;
}

.target-card {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.savings-chart {
  padding: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.usage-char {
  width: 300px !important;
}

.new-member-cont {
  padding: 10px 20px;
}

.member-item {
  display: flex;
  margin-bottom: 5px;
}

.new-transactions-cont {
  padding: 10px 20px;
  width: 100%;
  overflow-x: auto;
}

.member-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.member-info .h6 {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin: auto 0;
}

.member-info p {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: gray;
  padding: 0;
  margin: 0;
}

.add-btn {
  background-color: darkcyan;
  color: #fff;
  padding: 10px;
  border: 1px solid gray;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.role {
  padding: 5px 10px;
  color: #fff;
  border-radius: 30px;
  margin: auto 0;
}

@media (max-width: 438.5px) {
  .main-cont {
    flex: 100%;
    margin-top: 100px !important;
    display: flex;
    justify-content: center;
    height: 95%;
  }

  .new-transactions-cont {
    width: 360px;
  }

  .widget-small,
  .user-card,
  .target-card,
  .savings-chart,
  .new-member-cont,
  .w-mobile {
    width: 360px;
  }

  .chart-cont {
    height: 500% !important;
  }

  .add-badge {
    right: 10px !important;
  }

  .top-header {
    height: 80px;
  }

  .menu-icon {
    width: 40px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--lig-darkcyan);
  }

  .profile {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    justify-content: center;
  }

  .profile-text .h6 {
    font-size: 14px;
    margin: auto 0;
  }

  .top-header-icons {
    display: none;
  }

  .sidebar-wrapper {
    z-index: 99;
    max-width: 0;
    flex: 60% !important;
  }

  .sidebar-menu {
    height: calc(65vh - 30px);
  }

  .sidebar {
    width: 80%;
    top: 80px;
  }

  .logo {
    display: flex !important;
    position: relative;
  }

  .menu-close-icon {
    width: 40px;
    height: 30px;
    border: 1px solid var(--lig-darkcyan);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    position: absolute;
    /* top: 0; */
    bottom: 10px !important;
    right: 0;
    margin: auto 0;
  }

  .logout-btn {
    margin-top: 10px;
    margin-bottom: 20px !important;
  }
}
