$large_screen: 991.98px;
$medium_screen: 767.98px;
$small_screen: 575.98px;

@media (max-width: $medium_screen){
    .cont {
        flex-wrap: wrap;
    }

    .sidebar-wrapper {
        display: none;
    }

    .main{
        display: flex;
        width: 100%;
        flex: 100%;
    }

    .main-cont {
        margin-top: 80px;
        padding: 0 0;

        .widget-small {
            padding: 10px;
            margin-bottom: 10px;

            .h6{
                font-size: 24px;
            }

            .widget-small-text{
                gap: 0;
                justify-content: space-between;

                span{
                    font-size: 18px;
                }
            }

            p{
                font-size: 18px;
            }
        }
        
        .user-card, .target-card{
            margin-bottom: 10px;

            .h6{
                font-size: 20px;
            }
        }

        .user-card{

            .user-icon{
                width: 80px;
                height: 80px;

                .fa-users{
                    font-size: 28px;
                }
            }
        }

        .new-transactions-cont{
            padding: 20px 5px;
            // max-width: 350px;

        }
        
    }
}