$large_screen: 991.98px;
$medium_screen: 767.98px;
$small_screen: 575.98px;


.container{
    width: 100% !important;
    padding: 0 !important;
}

.row{
    padding: 0 !important;
}

/*@media (max-width: $medium_screen){
    .main-cont{
        flex: 100%;
        background-color: red;
    }
    .sidebar{
        display: none;
    }

    .row{
        gap: 20px;
    }

    .widget-small{
        max-width: 350px;
    }
}*/